{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'add_newmember.css' %}"> 
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="form-inline" href="#">Signup</a>
    </nav>
<form method="POST">
    {% csrf_token %}
    <br>
       <input type="text" name="firstname" id="firstname" placeholder="enter your firstname"><br><br>
       <input type="text" name="lastname" id="lastname" placeholder="enter your lastname"><br><br>
       <input type="text" name="rollno" id="rollno" placeholder="enter your rollno"><br><br>
       <input type="text" name="phoneno" id="phoneno" placeholder="enter your phoneno"><br><br>
       <input type="file" name="image" id="image"><br><br>
    >
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <input type="submit" name="submit" id="submit">  
</form>
</body>
</html>